h1{
      color:red;
      text-align: center;
      font-size: 70px;
    }
   
  
    body{
        background-color:#00FF29 ;
    }
.ses{
  color: #006369;
}
.ere{
  color: #204930;
}
.trt{
  color: red;
}


